:root {
  // shared
  --rtp-c-c-main: #1a237e;
  --rtp-c-black: #000000;
  --rtp-c-white: #ffffff;
  --rtp-c-assist: #cccccc;
  --rtp-br: 4px;
  // specific - color
  --rtp-c-header-bg: #cccccc50;
  --rtp-c-header-text: var(--rtp-c-c-main);
  --rtp-c-field-value: var(--rtp-c-black);
  --rtp-c-field-bg: var(--rtp-c-white);
  --rtp-c-field-border: var(--rtp-c-assist);
  --rtp-c-dropdown-border: var(--rtp-c-assist);
  --rtp-c-dropdown-bg: var(--rtp-c-white);
  --rtp-c-value-line: var(--rtp-c-assist);
  --rtp-c-range-item: var(--rtp-c-black);
  --rtp-c-divide-line: var(--rtp-c-assist);
  // specific - radius
  --rtp-br-field: var(--rtp-br);
  --rtp-br-dropdown: var(--rtp-br);
}

// :root {
//   // shared
//   --rtp-c-c-main: #ff0000;
//   --rtp-c-black: #00ff00;
//   --rtp-c-white: #0000ff;
//   --rtp-c-assist: #aa0000;
//   --rtp-br: 10px;
//   // specific - color
//   --rtp-c-header-bg: #cccccc50;
//   --rtp-c-header-text: var(--rtp-c-c-main);
//   --rtp-c-field-value: var(--rtp-c-black);
//   --rtp-c-field-bg: var(--rtp-c-white);
//   --rtp-c-field-border: var(--rtp-c-assist);
//   --rtp-c-dropdown-border: var(--rtp-c-assist);
//   --rtp-c-dropdown-bg: var(--rtp-c-white);
//   --rtp-c-value-line: var(--rtp-c-assist);
//   --rtp-c-range-item: var(--rtp-c-black);
//   --rtp-c-divide-line: var(--rtp-c-assist);
//   // specific - radius
//   --rtp-br-field: var(--rtp-br);
//   --rtp-br-dropdown: var(--rtp-br);
// }