
// main
$c-main: #1a237e;
$c-main-pink: #ff3cac;
$c-main-purple: #784ba0;  
$c-main-blue: #2b86c5;

$c-black: #000;
$c-white: #fff;


// basic
$c-deepblue: #032f60;


// dev
$c-dev-gray: #ccc;
$c-dev-blue: rgba($c-main-blue, 0.3);

$c-title: #333;


// form 相關
$c-form-label: #555; // 用於 label
$c-form-label-hint: #333; // 用於 label 上的 hint
$c-form-main: #333; // 用於可以輸入框或選擇到的值
$c-form-assist: #ccc; // 用於邊框
$c-form-assist2: #efefef; // temp
$c-form-selected: #032f60; // 用於選擇到的主色，預設放入 active 和 hover 中
$c-form-active: $c-form-selected;
$c-form-hover: $c-form-selected;
$c-form-hover-bg: rgba($c-form-selected, 0.2);
$c-form-switch--off: $c-form-assist;

$c-form-basic: #333;
$c-form-border: #ccc;

// other
$c-assist-yellow: #F9DB4A;
$c-assist-pink: #FF9FA6;
$c-assist-green: #7FD3B6;
$c-assist-blue: #83D0E6;
$c-note: #ddd;





:root {
  // shared
  --rtp-main: #1a237e;
  --rtp-black: #000000;
  --rtp-white: #ffffff;
  --rtp-assist: #cccccc;
  --rtp-border-radius: 4px;
  // specific
  --rtp-header-bg: #cccccc50;
  --rtp-header-text: var(--rtp-main);
  --rtp-field-value: var(--rtp-black);
  --rtp-field-border-color: var(--rtp-assist);
  --rtp-field-border-radius: var(--rtp-border-radius);
  --rtp-dropdown-border-color: var(--rtp-assist);
  --rtp-dropdown-border-radius: var(--rtp-border-radius);
  --rtp-dropdown-bg-color: var(--rtp-white);
  --rtp-value-line: var(--rtp-assist);
  --rtp-range-item: var(--rtp-black);
  --rtp-divide-line: var(--rtp-assist);
}

:root {
  // --rtp-dropdown-bg-color: #ff0000;
}